body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
    transition: 1s;
}





/*button {
    margin: 20% 0% 0% 0%;
    height: 150px;
    color: white;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
    animation: flicker 1.5s infinite alternate;
}

button:hover {

    color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
}*/

/*

div
{
    margin-top: 150px;
    text-align: center;
    padding-top: 60px;
    background-color: goldenrod;
    border:solid 5px rgb(231, 196, 90);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 160px;
    height: 100px;
    border-radius: 50%;
    font-size:20px;
    transition: 0.5s;
}
div:hover
{

    background-color: goldenrod;
    border:solid 5px rgb(255, 191, 0);

}
/*

/*---Animation--néon---*/


/*------Début--Anim---Néon*/

:root {
    /* Set neon color */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}
button
{
    background-color: #000;
}

#lumos-btn {
    width: 300px;
    height: 300px;
    animation: flicker 1.5s infinite alternate;
    overflow: hidden;
    font-family: "cyberpunk-regular";
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;

    color: #fff;
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 2.5rem;
    filter: blur(0.5px);
    /*text-transform: uppercase;*/
    animation: flicker 1.5s infinite alternate; 
    transition: 0.5s;
    
}

#lumos-btn:hover {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    animation: flicker 1.5s infinite alternate;
    overflow: hidden;
    transition: 0.5s;
}

#lumos-btn::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

#lumos-btn::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

#lumos-btn:focus {
    outline: none;
}

/* Animate neon flicker */
@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}


/*------FIN--Anim---Néon*/

/*---Animation--néon---*/

.containairCir
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 350px;
  /*border: solid 1px whitesmoke;*/
  /*overflow: hidden;*/
}

/*.containairCir:hover
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 340px;
  border: solid 1px whitesmoke;
}*/





.figureCercle {
  width: 305px;
  height: 305px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(-40deg) rotateX(-30deg) scale(1.1, 1.1);
  transition: 1.4s;
  transform-style: preserve-3d;
}

.figureCercle:hover {
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) scale(1.1, 1.1);
}

.cer1 {
  width: 500px;
  height: 500px;
  border: 3px solid #08f;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -50px);
  /*filter: blur(1px);*/
  animation: flicker 5s infinite alternate; 
}

.cer1:after {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: R 10s infinite linear;
  
}

@keyframes R {
  0% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(380deg)
  }
}

@keyframes L {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg)
  }
}

/*.cer2 {
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px;
  animation: L 80s infinite linear;
  box-sizing: border-box;
  filter: blur(1px);
}

.cer3 {
  width: 33%;
  height: 33%;
  border: 2px solid #f40;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 5px);
  position: absolute;
  top: 50%;
  left: 50%;
  filter: blur(1px);
}

.cer3:after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: L 5s infinite linear;
  filter: blur(1px);
}

.cer4 {
  width: 75px;
  height: 75px;
  transform: translate3d(-50%, -50%, 0px);
  position: absolute;
  left: 50%;
  top: 50%;
}

.cer4:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -3px;
  top: -3px;
  border-radius: 50%;
  border: 3px solid #98bdcd;
  border-left-color: transparent;
  animation: R 5s infinite linear;
  filter: blur(1px);
}

.cer5 {
  width: 77px;
  height: 77px;
  transform: translate3d(-50%, -50%, 65px);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 0%;
}

.cer5:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1px;
  top: -1px;
  border: 1px solid #7a929c;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: L 5s infinite linear;
  filter: blur(1px);
}

.cer6 {
  width: 55px;
  height: 55px;
  transform: translate3d(-50%, -50%, 61px);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
}

.cer6:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1px;
  top: -1px;
  border: 1px solid #08f;
  border-right-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  animation: R 10s infinite linear;
  filter: drop-shadow(1px 24px 6px #000);
  filter: blur(1px);
}*/



